body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
}

nav {
  width: 73%;
  height: 38px;
  display: flex;
  flex-direction: row;
  background-color: beige;
  border: 1px solid #555;
  position: absolute;
  top: 83px;
  left: 13.5%;
  border-radius: 5px;
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  border-left: 1px solid #555;
  background: rgb(137,137,137);
  background: linear-gradient(180deg, rgba(137,137,137,1) 0%, rgba(99,99,99,1) 45%, rgba(95,95,95,1) 53%, rgba(101,101,101,1) 72%, rgba(135,135,135,1) 90%, rgba(141,141,141,1) 100%);
}

.nav span,
.nav i,
.nav input {
  margin: 0 auto;
}

.nav span {
  color: white;
  font-weight: lighter;
  font-size: 13px;
}
